<%= form_with model: @game, url: [@group, @game], local: true do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_date %>
    <%= form.datetime_local_field :game_date %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :limit_users %>
    <%= form.text_field :limit_users %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
